/*######################## Global  ###############################################################################################*/
    body {
        background-color: lightgray;
        font-family: Arial, sans-serif;
        margin: 0px;
        padding: 0px;

    }
    /*left window side channel-list*/
    #section-channel-list {
        position: absolute;
        width: 40%;
        left: 0px;
        top: 0px;
        height: 100%;
        background-color: white;
        
    }

    /*right window side chat area*/
    #section-chat-area {
        position: absolute;
        width: 60%;
        right: 0px;
        top: 0px;
        height: 100%;
        background-color: lightgray;
    }

    /* app-bar (channel-list) and tab-bar (chat-area)*/
    .app-bar {
        background-color: #3F51B5;
        color: black;
        position: fixed;
        top: 0px;
        width: inherit;
        height: 76px;
        z-index: 1;     /*stack order 1 means that this element is always at top*/
    }
    
    h1 {
        color: white;
    }


/*######################## App bar  ##############################################################################################*/
    #app-logo-app-bar {
        height: 56px;
        position: absolute;
        left: 20px;
        background-color: inherit;
    }
    #app-name-app-bar {
        position: absolute;
        background-color: inherit;
        left: 80px;
        margin: 0;
        line-height: 76px;
    }

    #channel-star {
        /* #6 #liking #filled  */
        position:absolute;
        right: 16px;
        line-height: 76px;
    }
    
    .app-bar h1 span i {
        position: absolute;
        right: 16px;
    }

/*######################## Channels list  ########################################################################################*/
    #channel-list {
        background-color: inherit;
        position: absolute;
        top: 76px;
        bottom: 76px;
        width: 100%;
        overflow-y: auto;   /*scrolling in y*/
        margin: 0px;
        list-style-type: none;  /*removes the bulletpoints of the list*/
        padding: 0px;
    }

    #channel-list div{
        width: auto;
        padding-left: 40px; 
    }

    li {
        font-size: 16px;
        padding: 16px;
        border-bottom: 1px solid #F5F5F5; 
    }
    li.selected {
        border-left: 4px solid #3F51B5; 
    }
    li.selected i{
        color: #3F51B5;
    }
    #channel-list li span{
        font-size: 24px;
        position: absolute;
        right: 16px;
    }


/*######################## Tab bar  ##############################################################################################*/
    #tab-bar {
        background-color: inherit;
        position: fixed;
        bottom: 0px;
        width: inherit;
        z-index: 1;     /*stack order 1 means that this element is always at top*/
        display: flex;
        flex-grow: 1;
    }
    .button-symbol-tab-bar {
        display: block; /*forces linebreack*/
        margin: 0px auto 4px auto; /*horizontally centerde*/
        height: 15px;
    }
    .button-tab-bar {
        width: 33.333%;
        border: none;
        height: 72px;
        background-color: white;
        font-size: 13px;
        padding: 16px;
        text-transform: uppercase;
    }
    /*tab-bar symbols*/
    #tab-bar button i {
        font-size: 24px;
        display: block;
        padding-bottom: 4px;
    }
    #tab-bar button.selected {
        border-bottom: 4px solid #3F51B5; 
    }

/*######################## Messages  #############################################################################################*/
    #chat-messages {
        position: absolute;
        width: 100%;
        top: 76px;
        bottom: 76px;
        overflow-y: auto;
        background-color: lightgray;    
    }

    .single-chat-massage {
        position: relative;
        width: 80%;
        margin-bottom: 8px;
        margin-left: 2.5%;
        background-color: lightgray;
           
    }
    .chat-messages-metadata {
        font-size: medium;
        display: flex;
        justify-content:space-between;
    }

    .w3w-location-chat {
        text-transform: uppercase;
        color: inherit;
        width: 30%;
    }

    #channel-location.w3w-location-chat {
        color: white;
    }

    .messages-ttl {
        font-size: larger;
        font-style: normal;
    }


    .chat-text-messages {
        background-color: white;
        padding: 16px;
    }
    .own-message {
        margin-left: 17.5%;
    }

    .button-messages-ttl {
        background-color: #CDDC39;
        text-transform: uppercase;
        position: absolute;
        right: 8px;
        bottom: 8px;
    }

    .chat-message-date {
        width: 30%;
        text-align: right;
    }
/*######################## chat bar  #############################################################################################*/
    #chat-bar {
        position: fixed;
        bottom: 0px;
        width: inherit;
        height: 76px;
        background-color: white;
    }
    #smiley-button-img {
        display: block; /*forces linebreack*/
        margin: 0px auto 4px auto; /*horizontally centerde*/
        height: 15px;
    }
    #emojis-button {
        background-color: white;
        border: none;
        font-size: 24px;
        height: 72px;
        padding: 16px;
    }

    #emojis {
        background-color:white;
        border: 1px solid black;

        /* size & alignment */
        position: absolute;
        box-sizing: border-box;
        height: 300px;
        width: 300px;
        left: 16px;
        top: -284px;
        padding: 16px;

        z-index: 1;     /*stack order 1 means that this element is always at top*/
        /*hide the emoji menu*/
        display: none;
    }

/*######################## Info color palet  #############################################################################################*/
    /*                 
        Function            Color name/number   comment
                
        Background          lightgray             
        Primary text        black
        Primary color       #1a237e             "indigo"
        Primary color text  white
        Accent color        #76ff03             "green"
        Accent color text   black            
    */
